@import "theme.css";
/*@define-color background            #281631;
@define-color foreground            #bdb1c4;
@define-color foreground-alt        #99A5B0;
@define-color butterfly-empty       #545F6E;
@define-color butterfly-occupied    #C8C8C8;
@define-color butterfly-active      #bdb1c4;
@define-color warning-color         #E6A25D;
@define-color critical-color        #E06B74;*/

* {
    font-family: "SpaceMono Nerd Font", "Comic Neue", sans-serif;
    font-size: 12px;
    font-weight: bold;
    border: none;
}

window#waybar {
    background-color: transparent;
    color: @foreground;
}

#workspaces, #window, #pulseaudio, #network, #custom-nightcord-clock, #battery, #clock {
    background-color: @background;
    padding: 0 10px;
    margin: 0;
}


#custom-nightcord-clock {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#window {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#workspaces {
    border-radius: 10px;
}

#pulseaudio {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#battery {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-right: 12px; }



#workspaces button {
    color: alpha(@foreground, 0.3);
    background-color: @background;
    padding: 0 5px;
    font-size: 18px;
    transition: all 0.0s ease-in-out;
}

#workspaces button.active {
    color: @butterfly-active; 
}

#workspaces button.persistent {
    color: @butterfly-occupied; 
}

#workspaces button:hover {
    color: @butterfly-active;
}

#battery.warning {
    color: @warning-color;
}

#battery.critical {
    color: @critical-color;
    animation-name: blink;
    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        color: @foreground;
        background-color: @critical-color;
    }
}
