@import "theme.css";

@define-color warning-color         #E6A25D;
@define-color critical-color        #E06B74;

* {
    font-family: "SpaceMono Nerd Font", "Comic Neue", sans-serif;
    font-size: 12px;
    font-weight: bold;
    border: none;
    min-height: 0;
}

window#waybar {
    background-color: transparent;
    color: @foreground;
}

#workspaces,
#window,
#pulseaudio,
#network,
#custom-nightcord-clock,
#battery,
#clock {
    background-color: @background;
    color: @foreground;
    padding: 0 10px;
    margin: 0;
}

/* LEFT */
#custom-nightcord-clock {
    border-radius: 12px 0 0 12px;
    margin-left: 10px;
}

#window {
  border-radius: 0 12px 12px 0;
  margin-right: 10px;
}


/* RIGHT */
#pulseaudio {
    border-radius: 12px 0 0 12px;
}

#battery {
    border-radius: 0 12px 12px 0;
    margin-right: 10px;
}

#pulseaudio:hover, 
#network:hover, 
#battery:hover, 
#custom-nightcord-clock:hover {
    background-color: alpha(@foreground, 0.1);
}

/* WORKSPACES */
#workspaces {
    border-radius: 12px;
}

#workspaces button {
    color: alpha(@foreground, 0.3);
    background-color: @background;
    font-size: 18px;
}

#workspaces button.active {
    color: @foreground;
}

#workspaces button.persistent {
    color: alpha(@foreground, 0.5);
}

#workspaces button:hover {
    color: alpha(@foreground, 0.7);
    background-color: alpha(@foreground, 0.1);
}

#battery.warning {
    color: @warning-color;
}

#battery.critical {
    color: @critical-color;
    animation-name: blink;
    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        color: @foreground;
        background-color: @critical-color;
    }
}
